:root {
  /* primary colors */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Light Theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue-light-theme: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue-light-theme: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue-light-theme: hsl(235, 19%, 35%);
  /* Dark Theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
}
.App {
  min-height: 110vh;
}

.App[data-theme="dark"] {
  background-color: var(--Very-Dark-Blue);
}
.App[data-theme="dark"] {
  background-color: var(--Very-Dark-Blue);
}
.App[data-theme="dark"] header {
  background-image: url("./assets/images/bg-desktop-dark.jpg");
}
.App[data-theme="light"] header {
  background-image: url("./assets/images/bg-desktop-light.jpg");
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  position: relative;
}
header .container {
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
header .container .title {
  font-size: 3rem;
  color: white;
  letter-spacing: 1rem;
}
header .container img {
  cursor: pointer;
  width: 35px;
}
.todos {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}
.todo-input {
  max-width: 700px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding: 1.5rem;
  border-radius: 7px;
}
.todo-input input {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  background-color: var(--Very-Dark-Desaturated-Blue);
  color: white;
  display: flex;
  align-items: center;
}
.todo-input input:focus {
  outline: none;
}
.todo-input .mark {
  border: 2px solid var(--Dark-Grayish-Blue);
  display: block;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}
.App[data-theme="light"] .todo-input {
  background-color: white;
}
.App[data-theme="light"] input {
  background-color: white;
  color: black;
}
.todo-list {
  background-color: var(--Very-Dark-Desaturated-Blue);
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}
.App[data-theme="light"] .todo-list {
  background-color: white;
}
.todo {
  padding: 1.5rem;
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue-1);
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  color: var(--Light-Grayish-Blue);
  cursor: pointer;
}
.todo::before {
  content: "";
  display: block;
  border: 2px solid var(--Dark-Grayish-Blue);
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}
.todo::after {
  content: url("./assets/images/icon-cross.svg");
  margin-left: auto;
  display: none;
  z-index: 2;
  cursor: auto;
}
.todo:hover::after {
  display: block;
}
.todo[data-completed="true"] {
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
  transition: all 0.3s;
}
.todo[data-completed="true"]::before {
  content: url("./assets/images/icon-check.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Check-Background);
  border-color: var(--Very-Dark-Desaturated-Blue);
}
.App[data-theme="light"] .todo[data-completed="true"]::before {
  border-color: white;
}
.footer {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  justify-content: space-between;
}
.footer p {
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}
.footer .status {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.footer .status p {
  font-weight: 700;
}
.App[data-theme="light"] .todo-list {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.App[data-theme="light"] .todo-input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.App[data-theme="light"] .todo {
  color: var(--Very-Dark-Grayish-Blue-2);
}
.App[data-theme="light"] .todo[data-completed="true"] {
  color: var(--Dark-Grayish-Blue-light-theme);
}
@media screen and (max-width: 700px) {
  header {
    height: 200px;
    background-position: center;
  }
  .App[data-theme="dark"] header {
    background-image: url("./assets/images/bg-mobile-dark.jpg");
  }
  .App[data-theme="light"] header {
    background-image: url("./assets/images/bg-mobile-light.jpg");
  }
  header .container {
    margin: 0 1rem 6rem 1rem;
  }
  header .container .title {
    font-size: 2rem;
  }
  header .container img {
    width: 30px;
  }
  .todos {
    bottom: 20%;
    padding: 0 1rem;
  }
}
