:root{
  /* primary colors */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));
  /* Light Theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue-light-theme: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue-light-theme: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue-light-theme: hsl(235, 19%, 35%);
  /* Dark Theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
}
.App{
  min-height: 100vh;
}
.App[data-theme="dark"]{
  background-color: var(--Very-Dark-Blue);
}
.App[data-theme="dark"] header{
  background-image: url("./assets/images/bg-desktop-dark.jpg");
}
.App[data-theme="light"] header{
  background-image: url("./assets/images/bg-desktop-light.jpg");
}
header{
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}
header .container{
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
header .container .title{
  font-size: 3rem;
  color: white;
  letter-spacing: 1rem;
}
header .container img{
  cursor: pointer;
  width: 35px;
}
.todos{
  max-width: 700px;
  width: 100%;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.todo-input{
  max-width: 700px;
  width: 100%;
  position: relative;
}
.todo-input input{
  width: 100%;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 7px;
  border: none;
  font-size: 1.2rem;
  background-color: var(--Very-Dark-Desaturated-Blue);
  color: white;
}
.todo-input input:focus{
  outline: none;
}
.todo-input .mark{
  border: 2px solid var(--Dark-Grayish-Blue);
  display: block;
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.App[data-theme="light"] input{
  background-color: white;
  color: black;
}
@media screen and (max-width:700px) {
  header{
    height: 200px;
    background-position: center;
  }
  .App[data-theme="dark"] header{
  background-image: url("./assets/images/bg-mobile-dark.jpg");
  }
  .App[data-theme="light"] header{
  background-image: url("./assets/images/bg-mobile-light.jpg");
  }
  header .container{
    margin: 0 1rem 6rem 1rem;
  }
  header .container .title{
    font-size: 2rem;
  }
  header .container img{
    width: 30px;
  }
  .todos{
    top: 13%;
    padding: 0 1rem;
  }
}